VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id
VITE_STRIPE_PUBLIC_KEY=your_stripe_test_key
